@use './functions';

$color-primary: #2F0578;
$color-primary-dark-1: #054e80;
$color-primary-dark-2: #061f30;

$color-primary-light-4: #f5f7ff;

$color-primary-500: #2F0578;
$color-primary-400: #6917F1;
$color-primary-300: #946DD4;
$color-primary-200: #CCC4DB;
$color-primary-100: #F3F3F4;

$color-secondary-500: #058C85;
$color-secondary-400: #0CCFC5;
$color-secondary-300: #87E0DB;
$color-secondary-200: #C9E9E7;
$color-secondary-100: #E7F3F2;

$color-error-500: #920131;
$color-error-400: #FF0055;
$color-error-300: #F26B98;
$color-error-200: #F0B9CB;
$color-error-100: #F5E9ED;

$color-warning-500: #936700;
$color-warning-400: #FFB300;
$color-warning-300: #E7CC8D;
$color-warning-200: #EFE7D3;
$color-warning-100: #F0EBDF;

$color-dark-500: #212024;
$color-dark-400: #361075;
$color-dark-300: #565C96;
$color-dark-200: #D3D3D3;
$color-dark-100: #E7EAF3;

$shadow-light: functions.pxToRem(0px) functions.pxToRem(2px) functions.pxToRem(4px) functions.pxToRem(2px) rgba(206, 200, 216, 0.25);
$shadow-light: functions.pxToRem(0px) functions.pxToRem(4px) functions.pxToRem(4px) functions.pxToRem(1px) rgba(49, 38, 68, 0.25);