@use './functions';
@use './darkmode';

$color-primary-500: #003b76;
$color-primary-400: #0080ff;
$color-primary-300: #64b2ff;
$color-primary-200: #bedeff;
$color-primary-100: #f1f4f6;

$color-secondary-500: #058C85;
$color-secondary-400: #0CCFC5;
$color-secondary-300: #87E0DB;
$color-secondary-200: #C9E9E7;
$color-secondary-100: #E7F3F2;

$color-error-500: #920131;
$color-error-400: #FF0055;
$color-error-300: #F26B98;
$color-error-200: #F0B9CB;
$color-error-100: #F5E9ED;

$color-warning-500: #936700;
$color-warning-400: #FFB300;
$color-warning-300: #E7CC8D;
$color-warning-200: #EFE7D3;
$color-warning-100: #F0EBDF;

$color-dark-500: #08111c;
$color-dark-400: #2f4159;
$color-dark-300: #586e8b;
$color-dark-200: #a0b3ca;
$color-dark-100: #c8d6e7;

$shadow-light: functions.pxToRem(0px) functions.pxToRem(2px) functions.pxToRem(4px) functions.pxToRem(2px) rgba(206, 200, 216, 0.25);
$shadow-dark: functions.pxToRem(0px) functions.pxToRem(4px) functions.pxToRem(4px) functions.pxToRem(1px) rgba(49, 38, 68, 0.25);
$shadow-light-right: functions.pxToRem(1px 0px 4px 0px) rgba(49, 38, 68, 0.25);
$shadow-dark-bottom: functions.pxToRem(0px 4px 2px 0px) rgba(206, 200, 216, 0.5);

$overlay-color: rgba($color-primary-400, 0.45);
$overlay-color-dark-mode: rgba($color-dark-400, 0.5);

$outline-color: functions.pxToRem(1px) solid rgba($color-dark-400, 0.6);
$outline-color-dark-mode: functions.pxToRem(1px) solid rgba($color-primary-300, 0.6);

@mixin backdrop-color() {
    backdrop-filter: blur(functions.pxToRem(1px));
    background-color: $overlay-color;

    @include darkmode.darkmode {
        background-color: $overlay-color-dark-mode;
    }
}