@use './functions';

@mixin no-padding {
  padding: 0;
}

@mixin no-margin {
  margin: 0;
}

@mixin no-padding-margin {
  @include no-padding;
  @include no-margin;
}

@mixin box($v) {
  height:  functions($v);
  width:  functions($v);
}