@use '/src/style/app/variable';
@use '/src/style/app/functions';
@use '/src/style/app/color';
@use '/src/style/app/flex';

.button {
  @include flex.flexbox;
  @include flex.align-items(center);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: functions.pxToRem(16px);

  > span ~ i,
  > i ~ span {
    margin-left: functions.pxToRem(8px);
  }

  > i {
    font-size: functions.pxToRem(20px);
  }
}