@use '/src/style/app';

.button {
  @include app.flexbox;
  @include app.align-items(center);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: app.pxToRem(16px);

  > span ~ i,
  > i ~ span {
    margin-left: app.pxToRem(8px);
  }

  &:focus {
    outline: app.$outline-color;
  }
}
