@use 'sass:math';
@use '/src/style/app';

$anime-duration: 0.4s;
$bg-duration: math.div($anime-duration, 2.1);
$timing-func: cubic-bezier(0.45, 0, 0.55, 1);

.closebutton {
  position: absolute;
  top: app.pxToRem(8px);
  right: app.pxToRem(8px);
  opacity: 0.6;
}

.dialogWrapper {
  z-index: 3;
  top: app.pxToRem(app.$nav-bar-height);
  left: 0;
  width: 100%;
  height: 0;
  position: fixed;
  visibility: hidden;
  transition: height 0s $anime-duration, visibility 0s $anime-duration, background-color $bg-duration;

  .dialogContent {
    background-color: white;
    transition: all $anime-duration;
    transition-timing-function: $timing-func;

    &.default {
      display: block;
      position: relative;
      border: none;
      max-width: 98%;
      opacity: 0;
      transform: translateY(app.pxToRem(40px));
      min-width: app.pxToRem(368px);
      min-height: app.pxToRem(300px);
      max-height: app.pxToRem(600px);
      border-radius: app.pxToRem(8px);
      margin-top: app.pxToRem(40px);

      @include app.device(tablet) {
        margin-top: app.pxToRem(100px);
      }
    }

    &.leftsideMenu,
    &.rightsideMenu {
      position: absolute;
      top: 0;
      width: app.pxToRem(app.$sidemenu-width);
      height: 100%;
    }

    &.leftsideMenu {
      left: 0;
      transform: translateX(-(app.$sidemenu-width));
    }

    &.rightsideMenu {
      right: 0;
      transform: translateX(app.$sidemenu-width);
    }
  }

  &Dialog {
    @include app.flexbox;
    @include app.justify-content(center);
  }

  &Visible {
    height: calc(100vh - #{app.pxToRem(app.$nav-bar-height)});
    visibility: visible;
    transition: visibility 0s 0s, background-color $bg-duration;
    background-color: app.$overlay-color;

    .dialogContent {
      &.leftsideMenu {
        transform: translateX(app.pxToRem(-2px));
      }

      &.rightsideMenu {
        transform: translateX(0);
      }

      &.default {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

@include app.darkmode {
    .dialogWrapper {
        .dialogContent {
            background-color: app.$color-dark-500;
        }

        &Visible {
            background-color: app.$overlay-color-dark-mode;
        }
    }
}