@use '/src/style/app/variable';
@use '/src/style/app/functions';
@use '/src/style/app/color';
@use '/src/style/app/flex';

.main {
  @include flex.flexbox;
  min-height: calc(100vh - (#{functions.pxToRem(variable.$nav-bar-height)} + #{functions.pxToRem(variable.$footer-height)}));
  padding: functions.pxToRem(28px 0px 0px);
  margin-top: functions.pxToRem(variable.$nav-bar-height);
}

.content {
  flex-grow: 1;
}