@use '/src/style/app';

.main {
    @include app.flexbox;
    position: relative;
    height: app.pxToRem(app.$app-content-min-height);
    margin-top: app.pxToRem(app.$nav-bar-height);
}

.content {
    padding: app.pxToRem(0px 8px 0px);
    margin-left: app.pxToRem(app.$sidemenu-closed-width);
    flex-grow: 1;
    overflow-y: auto;
}

@include app.device(desktop) {
    .content {
        margin-left: app.pxToRem(app.$sidemenu-open-width);
    }
}