@use '../app';

* {
  @include app.no-padding-margin;
  box-sizing: border-box;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: app.$color-dark-500;
  outline-color: app.$color-dark-200;
}

html {
  background-color: white;
  font-size: app.pxToRem(app.$base-font-size);
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

.material-icons {
  font-size: app.pxToRem(20px);
}