@use '/src/style/app';

.nav,
.linksWrapper,
.logoSidebarbuttonWrapper {
  @include app.flexbox;
  @include app.align-items(center);
  @include app.justify-content(space-between);
}

.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: app.$color-primary-100;
  height: app.pxToRem(app.$nav-bar-height);
  padding: app.pxToRem(0px 20px);
}

.sidebarbutton {
  margin-right: app.pxToRem(20px);
}

.sidebarbutton,
.authMenubutton {
  @include app.device(tablet) {
    display: none;
  };
}

@include app.darkmode {
  .nav {
    background-color: app.$color-dark-400;
  }
}