@use '/src/style/app/variable';
@use '/src/style/app/functions';
@use '/src/style/app/color';
@use '/src/style/app/flex';

.nav,
.linksWrapper,
.logoSidebarbuttonWrapper {
  @include flex.flexbox;
  @include flex.align-items(center);
  @include flex.justify-content(space-between);
}

.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: color.$color-primary-100;
  height: functions.pxToRem(variable.$nav-bar-height);
  padding: functions.pxToRem(0px 20px);
}

.sidebarbutton {
  margin-right: functions.pxToRem(20px);
}
