@use '/src/style/app/variable';
@use '/src/style/app/functions';
@use '/src/style/app/color';
@use '/src/style/app/flex';

.links {
  background-color: color.$color-primary-100;
  width: functions.pxToRem(variable.$sidemenu-width);
  height: calc(100vh - (#{functions.pxToRem(variable.$nav-bar-height)} + #{functions.pxToRem(variable.$footer-height)}));
  padding: functions.pxToRem(20px);
  border-radius: functions.pxToRem(variable.$border-radius);
  margin: functions.pxToRem(20px 20px 0px 20px);
}