@use '/src/style/app';
@use './common';

.wrapper {
    @include app.flexbox;
    @include app.flex-direction(column);
    position: fixed;
    background-color: app.$color-primary-100;
    height: app.pxToRem(app.$app-content-min-height);
    padding: app.pxToRem(16px 8px);
}

.search {
    height: common.$top-section-height;
    padding-bottom: app.pxToRem(16px);
    margin-bottom: app.pxToRem(8px);
    border-bottom: app.pxToRem(1px) solid rgba(app.$color-dark-300, 0.4);
}

.navigation {
    @include app.flexbox;
    flex-grow: 2;
    overflow-x: hidden;
    background-color: inherit;
}

@include app.darkmode {
    .wrapper {
        background-color: app.$color-dark-400;
    }
}