@use '/src/style/app/variable';
@use '/src/style/app/functions';
@use '/src/style/app/color';
@use '/src/style/app/flex';

.nav {
  position: relative;
  max-width: 500px;
  margin-top: functions.pxToRem(10px);

  .baseList,
  .shownList,
  .shownList li {
    @include flex.flexbox;
  }

  .baseList,
  .shownList {
    li {
      @include flex.flex(0,0);
      font-size: functions.pxToRem(14px);;

      &:not(:last-of-type) {
        padding-right: functions.pxToRem(10px);

        &::after{
          content: '/';
          margin-left: functions.pxToRem(5px);
        }
      }
    }
  }

  .hiddenList {
    visibility: hidden;
  }

  .baseList {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}

.expander {
  line-height: 1;
  margin-top: functions.pxToRem(-2px);
}