@use '/src/style/app/variable';
@use '/src/style/app/functions';
@use '/src/style/app/color';
@use '/src/style/app/flex';

.nav {
  overflow-x: hidden;
  width: functions.pxToRem(900px);
  box-shadow: color.$shadow-dark-bottom;
  // padding: functions.pxToRem(0px 10px 20px);

  ul {
    @include flex.flexbox;

    li {
      @include flex.flex(0,0);

      &:not(:last-of-type) {
        padding-right: functions.pxToRem(10px);

        &::after{
          content: '/';
          margin-left: functions.pxToRem(5px);
        }
      }
    }
  }

  .hiddenList {
    visibility: hidden;
  }
}

