@use '/src/style/app';
@use '../../common';

.wrapper {
    width: 0;
    min-height: 200vh;
    padding: app.pxToRem(8px 0px 0px 0px);
    transition: all app.$animation-duration ease-in-out;
    transform: translateX(calc((#{common.$detail-width} + 10px) * -1));
}

.expanded {
    width: common.$detail-width;
    transform: translateX(0);
}
