@use '/src/style/app';
@use '../../common';

.wrapper {
    // width: app.pxToRem(48px);
    min-height: 200vh;
    background-color: red;
    padding-top: app.pxToRem(16px);
    // transition: all app.$animation-duration ease-in-out;
    // transform: translateX(calc((#{common.$detail-width} + 10px) * -1));
}

.expanded {
    // width: common.$detail-width;
    // transform: translateX(0);
}

.linkWrapper {
    background-color: white;
}