@use '/src/style/app';

.wrapper {
    @include app.flexbox;
    @include app.flex-center;
    @include app.box(32px);
    border-radius: 50%;

    & > i {
        color: app.$color-dark-400;
    }

    &:hover {
        background-color: rgba(app.$color-dark-200, 0.2);
    }
}

@include app.device(desktop) {
    .wrapper {
        @include app.box(24px);
        & > i {
            font-size: app.pxToRem(16px);
        }
    }
}

@include app.darkmode {
    .wrapper {
        & > i {
            color: app.$color-dark-100;
        }
    }
}